@import url("https://use.typekit.net/wpy3axk.css");

body {
    font-family: coolvetica, sans-serif;
}

.navbar-nav .nav-link {
    font-size: 18px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #990bc0;
}

.navbar-light .navbar-nav .nav-link {
    color: #008eb9;
}

h1 {
    font-size: 48px;
    color: #808080;
}

.hero-image {
    background-image: url(../img/BACK_H.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 60%;
    min-height: 600px;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
}

.hero-image h1 {
    color: white;
    font-size: 68px;
    margin-top: 2rem;
}

.hero-image h4 {
    color: white;
    font-weight: 300;
    font-size: 38px;
    letter-spacing: 1.2rem;
}

section {
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0 .6rem .8rem rgba(0,0,0,.15)!important;
}

.card-gyt {
    background: hsla(327, 50%, 60%, 0.08);
    border-radius: 50px;
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 960px;
}

section h1 {
    font-size: 48px;
    color: #808080;
}

section p {
    font-size: 28px;
    color: #808080;
    text-align: center;
}

#presentacion {
    background: hsla(327, 50%, 60%, 0.08);
}

#registro {
    background: hsla(74, 63%, 45%, 0.08);
}

#programa {
    background: hsla(54, 79%, 55%, 0.08);
}

.feature {
    display: inline-flex!important;
    align-items: center!important;
    padding: 15px;
    min-width: 300px;
    border-radius: 4em;
}

.feature-red {
    background: hsla(0, 0%, 100%, 1);
    color: #C65392;
}

.feature-green {
    background: hsla(0, 0%, 100%, 1);
    color: #99BB2B;
}

.feature-content {
    flex-direction: column!important;
    justify-content: center!important;
    padding-right: 20px;
}

.feature-title {
    display: flex!important;
    justify-content: center!important;
    font-size: 28px;
    font-weight: bold;
}

.feature-desc {
    display: flex!important;
    justify-content: center!important;
    font-size: 20px;
}

.icon-circle {
    padding: 20px;
    margin-right: 20px;
    border-radius: 3em;
}

.color-red {
    color: #C65392;
}

.bg-red {
    background: #C65392;;
}

.bg-green {
    background: #99BB2B;
}

.btn-green {
    color: #fff;
    background-color: #99BB2B;
    border-color: #99BB2B;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.4rem 3rem;
    font-size: 32px;
    border-radius: 3rem;
}

.title {
    display: flex!important;
    justify-content: center!important;
    color: #998a00;
    font-size: 32px;
    font-weight: bold;
}

.speaker {
    display: flex!important;
    justify-content: center!important;
    color: #717171;
    font-size: 24px;
    font-weight: 300;
}

.organizador {
    color: #717171;
    font-size: 24px;
    font-weight: 300;
    margin: 0px 50px;
}

.pipe {
    color: #717171;
    font-size: 24px;
}

.logo {
    margin: 60px 120px;
}

.sombra {
    box-shadow: 0 .6rem .8rem rgba(0,0,0,.15)!important;
}

.horario-dia {
    color: #5F5F5F;
}

.evento {
    border-style: solid none;
    border-color: #C8C8C8;
    border-width: 1px;
    padding: 15px 5px;
}

.hora {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #6A6A6A;
    margin-right: 35px;
    margin-top: 10px;

}

.titulo {
    font-weight: 600;
    font-size: 28px;
    color: #A10B5D;
}

.profesor {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #6A6A6A;
}

.bg-gris {
    background-color: #F9F9F9;
}

@media only screen and (max-width: 576px) {

    .img-hero {
        width: 80%;
        margin-top: 60px;
    }

    .hero-image h1 {
        font-size: 48px;
        text-align: center;
    }

    .hero-image h4 {
        font-size: 32px;
        letter-spacing: .8rem;
        margin-top: 1rem;
        text-align: center;
    }

    section p {
        font-size: 24px;
        text-align: center;
    }

    .feature {
        margin-top: 2.5rem;
    }

    .feature-title {
        text-align: center;
    }

    .feature-desc {
        text-align: center;
    }

    .title {
        text-align: center;
    }:

    .lista-organizadores {
        flex-direction: column!important;
    }

    .lista-patrocinadores {
        flex-direction: column!important;
    }

}